h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: min(10vh, 10vw);
    text-align: center;
}

/* The animation code */
@keyframes backg {
    from {background-color: black;}
    to {background-color: #a0a0a0;}
  }

body {
    animation-name: backg;
    animation-duration: 4s;
}